* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    gap: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#auto-clicker-div{
    width: 640px;
    height: 120px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 30px;
}

#auto-clicker-title{
    font-size: 24px;
}

#btns{
    width: 100%;
    height: auto;
    display: flex;
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    gap: 30px;
}

#btn-clk-toggle, #btn-clk-clear{
    width: 100%;
    height: calc(100% - 30px);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: grid;
    place-content: center;
    font-size: 24px;
    margin-top: 30px;
    cursor: pointer;
    &:hover{
        border: 1px solid rgba(0, 0, 0, 1);
        transition: 300ms;
    }
}

#btn-clk-toggle{
    background-color: rgb(0, 255, 0);
}

#btn-clk-clear{
    background-color: red;
}

#container {
    width: 640px;
    height: 440px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 30px;
}

#num-display {
    width: 100%;
    height: calc(50% - 10px);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

#num {
    font-size: 98px;
}

#btn-div {
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    gap: 30px;
}

#btn-inc,
#btn-dec {
    width: 50%;
    height: calc(50% - 10px);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: grid;
    place-content: center;
    font-size: 98px;
    margin-top: 30px;
    cursor: pointer;
}

#btn-inc:hover{
    background-color: rgb(0, 255, 0);
    transition: 300ms;
}

#btn-dec:hover{
    background-color: red;
    transition: 300ms;
}

#details{
    width: 640px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    padding: 15px 0 0 30px;
    &:hover{
        border: 1px solid rgba(0, 0, 0, 1);
        transition: 300ms;
    }
}

#details[open]{
    height: auto;
}

#details[open] > hr{
    margin: 15px 0 0 -30px;
    border-width: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#details[open] > ul{
    margin: 15px 0 15px 30px;
}

@media (width < 640px) {
    body{
        padding: 20px;
    }

    #auto-clicker-div{
        width: 100%;
    }

    #container {
        width: 100%
    }

    #details{
        width: 100%;
    }
}